
.tabs {
    display: flex;
    justify-content: center;
    margin: 10vh 0 5vh 0;
}

button {
    margin: 0 3vw 0 3vw;
    padding: 1vw;
    border: none;
    background-color: transparent;
}

h2, h3, h4 {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 9vh;
}

.headline {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

img {
    width: 35em;
    height: 30em;
    margin-right: 250px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 5vh;
}

.img2 {
    width: 25em;
    height: 14em;
}

p {
    margin: 0 5vw 0 5vw;
    display: flex;
    justify-content: center;
}

.hometext {
    margin: 5vh 20vw 0 20vw;
    display: flex;
    text-align: center;
}

.hometext2 {
    margin: 2vh 20vw 0 20vw;
    display: flex;
    text-align: center;
}

.last {
    margin-bottom: 20vh;
}

.hourstitle {
    margin-top: 4vh;
}

.address {
    margin-top: 5vh;
}

.phone {
    margin-top: 5vh;
}

.email {
    margin-bottom: 10vh;
}